@font-face {
  font-family: "Ruhl";
  src: url("../fonts/FrankRuhlLibre-Regular.ttf");
}
@font-face {
  font-family: "Ruhl Medium";
  src: url("../fonts/FrankRuhlLibre-Medium.ttf");
}
@font-face {
  font-family: "Vibes";
  src: url("../fonts/GreatVibes-Regular.ttf");
}
