$brown: #906272;
$gray: #414141;
$gray-text: #525252;

$header1: calc(2rem + 1vw);
$header2: calc(3.5rem + 1vw);
$header3: calc(3rem + 1vw);
$header4: calc(2.4rem + 1vw);
$text: calc(1.5rem + 1vw);
$main: calc(6rem + 1vw);

@mixin container {
  width: 90%;
  margin: auto;
}

@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin laptop {
  @media screen and (max-width: 1700px) {
    @content;
  }
}

@mixin sm-laptop {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@include laptop {
  $header1: 3rem;
  $header2: 4.5rem;
  $header3: 3.5rem;
  $header4: 2.5rem;
  $text: 3rem;
  $main: 6rem;
}
