.hero {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  &_desc {
    @include flex;
    flex: 2 1 40rem;
    text-align: center;
    & p {
      padding: 5rem 10rem;
    }
    & h2 {
      padding-top: 3rem;
    }
    & a {
      padding: 2rem 8rem;
      border: 3px solid #000000;
      margin-bottom: 4rem;
    }
  }
  &_img {
    flex: 1 1 40rem;
    background: linear-gradient(#dad8dd, #dad1d4);
    position: relative;
    z-index: 1;
    &-pic {
      object-fit: cover;
    }
  }
}
.plant {
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: -1;
  max-width: 65%;
  max-height: 70%;
  object-fit: cover;
  &2 {
    left: 40%;
  }
}
