.hero {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  @include tablets {
    width: 100%;
  }

  &_desc {
    @include flex;
    flex: 2 1 40rem;
    text-align: center;
    & p {
      padding: 5rem 10rem;
      color: $gray-text;
      @include phones {
        padding: 5rem 3rem;
      }
    }
    & h2 {
      padding-top: 3rem;
    }
    & a {
      padding: 2rem 8rem;
      border: 3px solid #000000;
      margin-bottom: 4rem;
      &:hover,
      &:focus {
        background-color: #000;
        color: #fff;
      }
    }
  }
  &_img {
    flex: 1 1 40rem;
    background: linear-gradient(#dad8dd, #dad1d4);
    position: relative;
    z-index: 1;
    &-pic {
      object-fit: cover;
    }
  }
}
.plant {
  position: absolute;
  bottom: -5%;
  left: -20%;
  z-index: -1;
  max-width: 65%;
  max-height: 70%;
  object-fit: cover;
  transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  animation: plant-entrance 1.5s ease-in-out 0.5s forwards,
    plant-shake 2.5s infinite ease alternate-reverse 2s;
  transform-origin: bottom;
  @include laptop {
    max-width: 90%;
  }
  @include tablets {
    max-width: 65%;
    // display: block;
  }
  &2 {
    left: 40%;
  }
}

@keyframes plant-entrance {
  from {
    transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}

@keyframes plant-shake {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
