.main-head {
  box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.1);
  z-index: 2;
  position: relative;
}
.nav {
  @include container;
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 2rem 0;

  & ul {
    display: flex;
    justify-content: space-around;
    flex: 1 1 20rem;
    @include phones {
      background: $gray;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 100%;
      flex-direction: column;
      align-items: center;
      transition: transform 0.3s ease;
      & a {
        color: #fff;
        font-size: $header3;
        text-decoration: underline;
      }
    }
  }
  @include phones {
    &-open {
      transform: translateX(-100%);
    }
  }
}
#logo {
  flex: 1 1 20rem;
}

// .nav-open {
//   transform: translateX(-100%);
// }
@include phones {
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
    & span {
      padding: 0.2rem 2rem;
      background: $gray-text;
      margin: 0.5rem 0rem;
      display: block;
      transition: all 0.3s ease;
    }
  }
}

.toggle {
  & .line-1 {
    transform: rotateZ(45deg) translateY(300%);
    background: #fff;
  }
  & .line-2 {
    opacity: 0;
  }

  & .line-3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: #fff;
  }
}
